<template>
  <div id="app">
    <div class="container">
      <comp-header v-bind:title="title" v-on:changeTitleEvent="handleChangeTitle" />
      <list-user v-bind:listUser="listUser"/>
      <comp-footer  v-bind:title="title" />
    </div>
  </div>
</template>

<script>
/* import components */
import CompFooter from "./components/CompFooter.vue";
import CompHeader from "./components/CompHeader.vue";
import ListUser from "./components/ListUser.vue";
export default {
  components: { CompHeader, CompFooter, ListUser },
  name: "app",
  data() {
    return {
      title: "VueJs header",
      listUser: [
        { id: 1, email: "test1@gmail.com", active: true },
        { id: 2, email: "test2@gmail.com", active: false },
        { id: 3, email: "test3@gmail.com", active: false },
        { id: 4, email: "test4@gmail.com", active: true },
        { id: 5, email: "test5@gmail.com", active: true },
        { id: 6, email: "test6@gmail.com", active: true },
        { id: 7, email: "test7@gmail.com", active: true },
      ],
    };
  },
  methods:{
    handleChangeTitle(){
      console.log('envent')
      this.title = 'đã thay đổi header'
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 3000px;
}
</style>
