<template>
  <footer>
    <h1>{{ title }}</h1>
  </footer>
</template>

<script>
export default {
  name: "comp-footer",
  props:{
    title:{
      type: String,
      default: 'Footer'
    }
  },
  data() {
    return {
      textFooter: "Day la footer",
    };
  },
};
</script>

<style>
</style>