<template>
  <header>
    <h1>{{ title }}</h1>
    <button v-on:click="changeTitle">Thay doi title</button>
  </header>
</template>

<script>
export default {
  name: "comp-hearder",

  props: {
    title: {
        type: String,
        default: 'default header'
    },
    abc: Int32Array,
  },
  data() {
    return {
      text: "Tao la header",
    };
  },
  methods:{
    changeTitle(){
      //kho thay đổi trực tiếp props từ component cha
      /*
        truyen thong bao ra ngoai
        kick hoat 'changeTileEvent' trong CompHeader.vue
        khi kick hoat function ben ngoai app.vue nó sẽ chạy
        thay doi dữ liệu
      */
      //this.title = 'Day la header'
      console.log('truoc')
      this.$emit('changeTitleEvent')
      console.log('sau')
    }
  }
};
</script>

<style>
</style>