<template>
  <div class="list-user">
    <user 
      v-for="item in listUser" 
      v-bind:key="item.id"
      v-bind:user="item"/>
  </div>
</template>

<script>
import User from "./User.vue";
export default {
  components: { User },
  name: "list-user",
  props:{
    listUser: {
      type: Array,
      default: []
    },
  },
  data() {
    return {};
  },
};
</script>

<style>
  .list-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .list-user .user{
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #333;
    width: calc(33.3333% - 20px);
  }
</style>